{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <a href="{{ path('mechanic_index') }}" class="btn btn-success left"><i class="fa fa-chevron-circle-left"></i> Retour</a>

        <div class="clearfix"></div>
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Consultation mécancien "{{ mechanic.name }}"</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Téléphone</th>
                                <th>Adresse</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ mechanic.id }}</td>
                                <td>{{ mechanic.name }}</td>
                                <td>{{ mechanic.lastname }}</td>
                                <td>{{ mechanic.phone }}</td>
                                <td>{{ mechanic.address }}</td>
                                <td>
                                    <a href="{{ path('mechanic_edit', { 'id': mechanic.id }) }}" class="btn btn-sm btn-warning" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
                                    {{ form_start(delete_form) }}
                                    <button type="submit" class="btn btn-sm btn-danger inline" data-placement="top" data-toggle="tooltip" data-original-title="Supprimer"><i class="fa fa-trash"></i></button>
                                    {{ form_end(delete_form) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
