<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}ITPS{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{asset('vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{asset('vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{asset('vendors/nprogress/nprogress.css')}}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{asset('vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="{{asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{{asset('vendors/jqvmap/dist/jqvmap.min.css')}}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{{asset('vendors/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{asset('build/css/custom.min.css')}}" rel="stylesheet">
    {% endblock %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{{path('app_homepage')}}" class="site_title"><i class="fa fa-road"></i> <span>ITPS GROUP</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{{ asset('bundles/app/images/user.png') }}" alt="" class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenue,</span>
                <h2>{{ app.user.username | capitalize}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Menu principal</h3>
                <ul class="nav side-menu">
                  <li>
                      <a href="{{path('app_homepage')}}"><i class="fa fa-home"></i> Dashboard</a>
                  </li>
                  <li>
                    <a><i class="fa fa-bar-chart-o"></i> Chantier <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('project_index') }}">Chantier en cours</a></li>
                      <li><a href="chartjs2.html">Chantier finalisé</a></li>
                      <li><a href="morisjs.html">Chantier annulé</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-money"></i>Ventes <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('client_index') }}">Clients</a></li>
                      {#<li><a href="{{ path('client_index') }}">Appels d'offres</a></li>
                      <li><a href="{{ path('purchaseorder_new') }}">Nouv. Devis client</a> </li>
                      <li><a href="{{ path('purchaseorder_index') }}">Devis clients</a> </li>
                      <li><a href="{{ path('subfamily_new') }}">Cautions</a> </li>
                      <li><a href="tables_dynamic.html">Retenue a la source</a></li>
                      <li><a href="tables_dynamic.html">Etat rs</a></li>#}
                    </ul>
                  </li>
                  <li><a><i class="fa fa-shopping-cart"></i>Achats <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('supplier_index') }}">Fournisseurs</a></li>
                      <li><a href="{{ path('purchaseorder_new') }}">Nouvelle commande</a> </li>
                      <li><a href="{{ path('purchaseorder_index') }}">Devis/Cmdes Fournisseurs</a> </li>
                      <li><a href="{{ path('orderline_index') }}">Demandes d'achat</a> </li>
                      <li><a>Configuration <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li><a href="{{path('producttype_index')}}">Type de produits</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i> Ressources humaines <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('personal_index') }}">Liste personnels</a></li>
                      <li><a href="{{ path('employmentcontract_index') }}">Contrat</a></li>
                      <li><a href="{{ path('clocking_index') }}">Pointage</a></li>
                      <li><a href="typography.html">Frais personnels</a></li>
                      <li><a href="icons.html">Fiche de paie</a></li>
                      <li><a href="glyphicons.html">Demande congé</a></li>
                      {#<li><a>Prêt <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li><a href="fixed_sidebar.html">Demande de Prêt</a></li>
                          <li><a href="fixed_footer.html">Prêt en cours</a></li>
                          <li><a href="fixed_footer.html">Paiement</a></li>
                        </ul>
                      </li>#}
                      <li><a>Configuration <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li><a href="{{ path('employmentfunction_index') }}">Fonctions</a></li>
                          <li><a href="{{ path('workplace_index') }}">Lieu de travail</a></li>
                          <li><a href="fixed_footer.html">Frais</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-car"></i> Equipements <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{path('equipment_index')}}">Equipement</a></li>
                      {#<li><a href="form_advanced.html">Vidanges</a></li>
                      <li><a href="form_validation.html">Assurances</a></li>
                      <li><a href="form_wizards.html">Taxes</a></li>
                      <li><a href="form_upload.html">Bon Gazoil</a></li>
                      <li><a href="form_buttons.html">Carte Gazoil</a></li>
                      <li><a href="form_buttons.html">Contre Bon</a></li>#}
                    </ul>
                  </li>
                  <li><a><i class="fa fa-cubes"></i>Stocks <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ path('store_index') }}">Entrepôt</a></li>
                      <li><a href="fixed_sidebar.html">Mouvement internes</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="menu_section">
                <h3>Configuration</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-cogs"></i> Configuration <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{path('bank_index')}}">Banques</a></li>
                      <li><a href="{{path('leasing_index')}}">Leasing</a></li>
                      <li><a href="{{ path('insurancecompany_index') }}">Société d'Assurance</a> </li>
                      <li><a href="{{ path('kiosk_index') }}">Kiosques</a> </li>
                      <li><a href="{{ path('mechanic_index') }}">Mécancien</a> </li>
                      <li><a href="{{ path('partnercategory_index') }}">Categorie Partenaire</a> </li>
                      <li><a href="{{path('brand_index')}}">Marque</a></li>
                      <li><a href="{{path('model_index')}}">Modèle</a></li>
                      <li><a href="{{path('family_index')}}">Famille équipement</a></li>
                      <li><a href="{{path('subfamily_index')}}">Sous Famille équipement</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-user-secret"></i> Utilisateurs</a></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('fos_user_security_login') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{ asset('bundles/app/images/user.png') }}" alt="">{{ app.user.username | capitalize }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a></li>
                  </ul>
                </li>

                {#<li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>#}
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
     <!-- page content -->
        <div class="right_col" role="main">
            {% block body %} {%endblock%}
        </div>
        
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            ITPS | © Copyright 2017
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    {% block javascripts %}
    <!-- jQuery -->
    <script src="{{asset('vendors/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{asset('vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{asset('vendors/fastclick/lib/fastclick.js')}}"></script>
    <!-- NProgress -->
    <script src="{{asset('vendors/nprogress/nprogress.js')}}"></script>
    <!-- Chart.js -->
    <script src="{{asset('vendors/Chart.js/dist/Chart.min.js')}}"></script>
    <!-- gauge.js -->
    <script src="{{asset('vendors/gauge.js/dist/gauge.min.js')}}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
    <!-- iCheck -->
    <script src="{{asset('vendors/iCheck/icheck.min.js')}}"></script>
    <!-- Skycons -->
    <script src="{{asset('vendors/skycons/skycons.js')}}"></script>
    <!-- Flot -->
    <script src="{{asset('vendors/Flot/jquery.flot.js')}}"></script>
    <script src="{{asset('vendors/Flot/jquery.flot.pie.js')}}"></script>
    <script src="{{asset('vendors/Flot/jquery.flot.time.js')}}"></script>
    <script src="{{asset('vendors/Flot/jquery.flot.stack.js')}}"></script>
    <script src="{{asset('vendors/Flot/jquery.flot.resize.js')}}"></script>
    <!-- Flot plugins -->
    <script src="{{asset('vendors/flot.orderbars/js/jquery.flot.orderBars.js')}}"></script>
    <script src="{{asset('vendors/flot-spline/js/jquery.flot.spline.min.js')}}"></script>
    <script src="{{asset('vendors/flot.curvedlines/curvedLines.js')}}"></script>
    <!-- DateJS -->
    <script src="{{asset('vendors/DateJS/build/date.js')}}"></script>
    <!-- JQVMap -->
    <script src="{{asset('vendors/jqvmap/dist/jquery.vmap.js')}}"></script>
    <script src="{{asset('vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
    <script src="{{asset('vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{asset('vendors/moment/min/moment.min.js')}}"></script>
    <script src="{{asset('vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{asset('build/js/custom.min.js')}}"></script>
	{% endblock %}
  </body>
</html>
