{% extends 'base.html.twig' %}

{% block body %}

    <div class="">
        <div class="actionBar">
            <a href="{{ path('leaveapplication_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Demandes de congés</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Personnel</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                                <th>Status</th>
                                <th>Approved by</th>
                                <th>Observation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for leaveApplication in leaveApplications %}
                                <tr>
                                    <td><a href="{{ path('leaveapplication_show', { 'id': leaveApplication.id }) }}">{{ leaveApplication.personal }}</a></td>
                                    <td>{% if leaveApplication.startAt %}{{ leaveApplication.startAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{% if leaveApplication.endAt %}{{ leaveApplication.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{{ leaveApplication.status }}</td>
                                    <td>{{ leaveApplication.approvedBy }}</td>
                                    <td>{{ leaveApplication.comment }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{{ path('leaveapplication_show', { 'id': leaveApplication.id }) }}" class="btn btn-sm btn-success" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Afficher"><i class="fa fa-eye"></i></a>
                                            <a href="{{ path('leaveapplication_edit', { 'id': leaveApplication.id }) }}" class="btn btn-sm btn-warning" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
