{% extends 'base.html.twig' %}

{% block body %}

    <div class="">
        <div class="actionBar">
            <a href="{{ path('producttype_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Types de matériel de construction</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prix min</th>
                                <th>Prix max</th>
                                <th>Unité de mesure</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for typeOfConstructionMaterial in typeOfConstructionMaterials %}
                                <tr>
                                    <td><a href="{{ path('producttype_show', { 'id': typeOfConstructionMaterial.id }) }}">{{ typeOfConstructionMaterial.name }}</a></td>
                                    <td>{{ typeOfConstructionMaterial.priceMin }}</td>
                                    <td>{{ typeOfConstructionMaterial.priceMax }}</td>
                                    <td>{{ typeOfConstructionMaterial.unitOfMeasurement }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{{ path('producttype_show', { 'id': typeOfConstructionMaterial.id }) }}" class="btn btn-sm btn-success" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Afficher"><i class="fa fa-eye"></i></a>
                                            <a href="{{ path('producttype_edit', { 'id': typeOfConstructionMaterial.id }) }}" class="btn btn-sm btn-warning" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
