{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <a href="{{ path('employmentcontract_index') }}" class="btn btn-success left"><i class="fa fa-chevron-circle-left"></i>
            Retour</a>

        <div class="clearfix"></div>
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Contrat de travail "{{ employmentContract.personal }}"</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ employmentContract.id }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ employmentContract.type }}</td>
                            </tr>
                            <tr>
                                <th>Personal</th>
                                <td>{{ employmentContract.personal }}</td>
                            </tr>
                            <tr>
                                <th>Function</th>
                                <td>{{ employmentContract.function }}</td>
                            </tr>
                            <tr>
                                <th>Startdate</th>
                                <td>{% if employmentContract.startDate %}{{ employmentContract.startDate|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Enddate</th>
                                <td>{% if employmentContract.endDate %}{{ employmentContract.endDate|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Signaturedate</th>
                                <td>{% if employmentContract.signatureDate %}{{ employmentContract.signatureDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Salary</th>
                                <td>{{ employmentContract.salary }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
