{% extends 'base.html.twig' %}

{% block body %}

    <div class="">
        <div class="actionBar">
            <a href="{{ path('bank_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Banques</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Téléphone</th>
                                <th>Adresse</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bank in banks %}
                                <tr>
                                    <td>{{ bank.name }}</td>
                                    <td>{{ bank.phone }}</td>
                                    <td>{{ bank.address }}</td>
                                    <td>{{ bank.mail }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{{ path('bank_show', { 'id': bank.id }) }}" class="btn btn-sm btn-success" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Afficher"><i class="fa fa-eye"></i></a>
                                            <a href="{{ path('bank_edit', { 'id': bank.id }) }}" class="btn btn-sm btn-warning" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
