{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materialsOfConstruction.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ materialsOfConstruction.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ materialsOfConstruction.type }}</td>
            </tr>
            <tr>
                <th>Prix min</th>
                <td>{{ materialsOfConstruction.priceMin }}</td>
            </tr>
            <tr>
                <th>Prix Max</th>
                <td>{{ materialsOfConstruction.priceMax }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}" class="btn btn-info">Retour</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'id': materialsOfConstruction.id }) }}" class="btn btn-info">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
