{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <div class="actionBar">
            <a href="{{ path('project_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Commandes</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Acheteur</th>
                                <th>Fournisseur</th>
                                <th>Date de livraison</th>
                                <th>Emplacement</th>
                                <th>Chantier</th>
                                <th>Etat</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purchaseOrder in purchaseOrders %}
                                <tr>
                                    <td><a href="{{ path('purchaseorder_show', { 'id': purchaseOrder.id }) }}">{{ purchaseOrder.reference }}</a></td>
                                    <td>{{ purchaseOrder.buyer }}</td>
                                    <td>{{ purchaseOrder.supplier }}</td>
                                    <td>{% if purchaseOrder.deliverydate %}{{ purchaseOrder.deliverydate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{{ purchaseOrder.location }}</td>
                                    <td>{{ purchaseOrder.project }}</td>
                                    <td>{{ purchaseOrder.status }}</td>
                                    <td>
                                        <a href="{{ path('purchaseorder_show', { 'id': purchaseOrder.id }) }}" class="btn btn-sm btn-info" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Afficher"><i class="fa fa-eye"></i></a>
                                        <a href="{{ path('purchaseorder_edit', { 'id': purchaseOrder.id }) }}" class="btn btn-sm btn-warning" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
