{% extends 'base.html.twig' %}

{% block body %}
    <h1>Purchaseorders list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Buyer</th>
                <th>Supplier</th>
                <th>Deliverydate</th>
                <th>Location</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchaseOrder in purchaseOrders %}
            <tr>
                <td><a href="{{ path('purchaseorder_show', { 'id': purchaseOrder.id }) }}">{{ purchaseOrder.id }}</a></td>
                <td>{{ purchaseOrder.reference }}</td>
                <td>{{ purchaseOrder.buyer }}</td>
                <td>{{ purchaseOrder.supplier }}</td>
                <td>{% if purchaseOrder.deliverydate %}{{ purchaseOrder.deliverydate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ purchaseOrder.location }}</td>
                <td>{{ purchaseOrder.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('purchaseorder_show', { 'id': purchaseOrder.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('purchaseorder_edit', { 'id': purchaseOrder.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('purchaseorder_new') }}">Create a new purchaseOrder</a>
        </li>
    </ul>
{% endblock %}
