{% extends 'base.html.twig' %}

{% set prototype_orderLine = form.orderLines.vars.prototype %}
{% form_theme form _self %}

{% block radio_widget %}
    {% spaceless %}
        <label>
            <input type="radio"
                   class="flat" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </label>
    {% endspaceless %}
{% endblock radio_widget %}

{% block body %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Nouvelle Commande</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="prototype-order-line" class="hide">
            <div class="form-inline separator">
                <div class="form-group">
                    {{ form_widget(prototype_orderLine.product, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(prototype_orderLine.label, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(prototype_orderLine.quantity, {'attr': {'class': 'form-control', 'placeholder': 'Quantité'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(prototype_orderLine.unitPrice, {'attr': {'class': 'form-control', 'placeholder': 'Prix unitaire'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(prototype_orderLine.totalPrice, {'attr': {'class': 'form-control', 'placeholder': 'Prix Total'}}) }}
                </div>
            </div>
        </div>

        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left input_mask'}}) }}
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Info. général</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label class="control-label">Etat</label>
                                {{ form_widget(form.status, {'attr': {'class': 'radio text-center'}}) }}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="control-label">Référence</label>
                                {{ form_widget(form.reference, {'attr': {'class': 'form-control', 'placeholder': 'Référence'}}) }}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="control-label">Devise</label>
                                {{ form_widget(form.currency, {'attr': {'class': 'form-control', 'placeholder': 'Devise'}}) }}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="control-label">Acheteur</label>
                                {{ form_widget(form.buyer, {'attr': {'class': 'form-control', 'placeholder': 'Achereur'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Info. Fournisseur</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Fournisseur</label>
                            {{ form_widget(form.supplier, {'attr': {'class': 'form-control', 'placeholder': 'Fournisseur'}}) }}
                        </div>
                    </div>
                </div>

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Info. Livraison</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Date de livraison</label>
                            {{ form_widget(form.deliverydate, {'attr': {'class': 'form-control', 'required':''}}) }}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Emplacement</label>
                            {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Chantier</label>
                            {{ form_widget(form.project, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Ajouter les produits</h2>
                        <a href="#" id="add-order-line" class="btn btn-info pull-right">Ajouter un produit</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" id="container-order-line">
                    </div>
                </div>
            </div>
            {{ form_widget(form._token) }}
            <div class="col-md-12 actionBar">
                <button type="submit" class="btn btn-primary"><i class="fa fa-database"></i> Enregistrer</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!-- Switchery -->
    <script src="{{ asset('vendors/switchery/dist/switchery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var $container = $('#prototype-order-line');
            var index = $('#prototype-order-line').length - 1 ;

            $('#add-order-line').click(function(e) {
                addOrderLine($container);

                e.preventDefault();
                return false;
            });

            if (index == 0) {
                addOrderLine($container);
            } else {
                $container.children('.form-inline').each(function() {
                    addDeleteLink($(this));
                });
            }

            function addOrderLine($container) {

                var template = $container.html().replace(/__name__/g, index);
                var $prototype = $(template);

                addDeleteLink($prototype);
                $('#container-order-line').append($prototype);

                index++;
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($deleteLink);

                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>
{% endblock %}
