{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Switchery -->
    <link href="{{ asset('vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% set prototype_contract = edit_form.contracts.vars.prototype %}

{% block body %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Modification fiche "{{ personal.firstname }} {{ personal.lastname }}"</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal form-label-left input_mask'}}) }}
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Info. général</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="">
                                <label> {{ form_widget(edit_form.isTemporary, {'attr': {'class': 'js-switch'}}) }} Temporaire</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="control-label">Prénom</label>
                                {{ form_widget(edit_form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Foulen'}}) }}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="control-label">Nom</label>
                                {{ form_widget(edit_form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Ben foulen'}}) }}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="control-label">Date de naissance</label>
                                {{ form_widget(edit_form.birthdate, {'attr': {'class': 'form-control', 'data-inputmask': "'mask': '99/99/9999'"}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Info. Coordonées</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Adresse</label>
                            {{ form_widget(edit_form.address, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Téléphone</label>
                            {{ form_widget(edit_form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Mobile</label>
                            {{ form_widget(edit_form.mobile, {'attr': {'class': 'form-control', 'placeholder': 'Mobile'}}) }}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Mail</label>
                            {{ form_widget(edit_form.mail, {'attr': {'class': 'form-control', 'placeholder': 'Mail', 'data-validate-linked':'email' }}) }}
                        </div>
                    </div>
                </div>

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Autres informations</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Permis de conduire</label>
                            {{ form_widget(edit_form.drivingLicense, {'attr': {'class': 'form-control', 'placeholder': 'Permis de conduire'}}) }}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Etat civil</label>
                            {{ form_widget(edit_form.martialStatus, {'attr': {'class': 'form-control', 'placeholder': 'Etat civil'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tarifs</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="control-label">Tarifs journalier</label>
                            {{ form_widget(edit_form.dailyRate, {'attr': {'class': 'form-control', 'placeholder': 'Tarif journalier'}}) }}
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title" id="container-tome">
                        <h2>Contrats de travail</h2>
                        <div class="clearfix"></div>
                        <a href="{{ path('employmentcontract_new') }}" class="btn btn-default">Nouveau contrat</a>
                    </div>
                    <div class="x_content">
                            <table class="table table-striped">
                                <tr>
                                    <th>Type</th>
                                    <th>Fonction</th>
                                    <th>Date de début</th>
                                    <th>Date de fin</th>
                                    <th>Salaire</th>
                                    <th>Modifier</th>
                                </tr>
                                {% for contract in personal.contracts %}
                                    <tr>
                                        <td>{{ contract.type }}</td>
                                        <td>{{ contract.function }}</td>
                                        <td>{{ contract.startDate | date('d/m/Y') }}</td>
                                        <td>{{ contract.endDate | date('d/m/Y') }}</td>
                                        <td>{{ contract.salary}} TND</td>
                                        <td>
                                            <a href="{{ path('employmentcontract_edit', {'id': contract.id}) }}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Modifier</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">
                                            <p class="well text-center">
                                                Aucun contrat
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                {{ form_widget(edit_form._token) }}
                <input type="submit" class="btn btn-primary" value="Enregistrer">
            </div>
        </div>
        </form>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!-- jquery.inputmask -->
    <script src="{{ asset('vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')}}"></script>
    <!-- Switchery -->
    <script src="{{ asset('vendors/switchery/dist/switchery.min.js') }}"></script>

    <!-- validator -->
    <script src="{{ asset('vendors/vendors/validator/validator.js')}}"></script>

{% endblock %}
