{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthdate</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>Mail</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Martialstatus</th>
                <th>Drivinglicense</th>
                <th>Istemporary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personal in personals %}
            <tr>
                <td><a href="{{ path('personal_show', { 'id': personal.id }) }}">{{ personal.id }}</a></td>
                <td>{{ personal.firstname }}</td>
                <td>{{ personal.lastname }}</td>
                <td>{% if personal.Birthdate %}{{ personal.Birthdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ personal.phone }}</td>
                <td>{{ personal.mobile }}</td>
                <td>{{ personal.mail }}</td>
                <td>{{ personal.address }}</td>
                <td>{{ personal.zipcode }}</td>
                <td>{{ personal.martialStatus }}</td>
                <td>{{ personal.drivingLicense }}</td>
                <td>{% if personal.isTemporary %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personal_show', { 'id': personal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personal_edit', { 'id': personal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personal_new') }}">Create a new personal</a>
        </li>
    </ul>
{% endblock %}
