{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <div class="actionBar">
            <a href="{{ path('personal_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Les Personnelles</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Téléphone</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Permis</th>
                                <th>Temporaire/Permanant</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for personal in personals %}
                                <tr>
                                    <td>
                                        <a href="{{ path('personal_show', { 'id': personal.id }) }}">{{ personal.id }}</a>
                                    </td>
                                    <td>{{ personal.firstname }}</td>
                                    <td>{{ personal.lastname }}</td>
                                    <td>{{ personal.phone }}</td>
                                    <td>{{ personal.mobile }}</td>
                                    <td>{{ personal.mail }}</td>
                                    <td>{{ personal.address }}</td>
                                    <td>{{ personal.drivingLicense }}</td>
                                    <td>{% if personal.isTemporary %}<span
                                                class="btn btn-info">Temporaire</span>{% else %}<span
                                                class="btn btn-default">Permanent</span>{% endif %}</td>
                                    <td>
                                        <a href="{{ path('personal_show', { 'id': personal.id }) }}" class="btn btn-sm btn-info" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Afficher"><i class="fa fa-eye"></i></a>
                                        <a href="{{ path('personal_edit', { 'id': personal.id }) }}" class="btn btn-sm btn-warning" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}