{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <h1>Connexion</h1>
                <div>
                    <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="required"  />
                </div>
                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <div>
                    <input type="submit" class="btn btn-primary submit full-width" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-road"></i> ITPS</h1>
                        <p>©2017 All Rights Reserved. ITPS</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>