{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- iCheck -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
{% endblock %}
{% form_theme purchaseOrderForm _self %}

{% block radio_widget %}
    {% spaceless %}
        <label>
            <input type="radio" class="flat" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </label>
    {% endspaceless %}
{% endblock radio_widget %}

{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>Suivi Chantier "{{ project.name }}"</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="separator"></div>
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Jours travaillés</span>
            <div class="count">{{ personalsCosts.totalWorkedDays }} jour(s)</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-dollar"></i> Coût ressources humaines</span>
            <div class="count green">{{ personalsCosts.totalCost }} TND</div>
        </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Activité <small>Graph avancement de projet</small></h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="chart_plot_01" class="demo-placeholder"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br />

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Quantité utilisé par produit</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% for productQuantity in productsQuntity %}
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>{{ productQuantity.name }}</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ productQuantity.quantity / 1000}}" aria-valuemin="0" aria-valuemax="10000" style="width: {{ productQuantity.quantity / 1000}}%;">
                                    <span class="sr-only">{{ productQuantity.quantity / 1000}} % Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>{{ productQuantity.quantity }} {{ productQuantity.unitOfMeasurement }}</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Utilisation des matériaux</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="" style="width:100%">
                        <tr>
                            <th style="width:37%;">
                                <p>Top 5</p>
                            </th>
                            <th>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <p class="">Type</p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <p class="">Progress</p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                            </td>
                            <td>
                                <table class="tile_info">
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square blue"></i>Tou-venant </p>
                                        </td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square green"></i>Gravier </p>
                                        </td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square purple"></i>Ciment </p>
                                        </td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square aero"></i>Fer </p>
                                        </td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square red"></i>Autres </p>
                                        </td>
                                        <td>30%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Dépenses</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <div class="sidebar-widget">
                            <h4>Dépenses/Budget</h4>
                            <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                            <div class="goal-wrapper">
                                <span id="gauge-text" class="gauge-value pull-left">0</span>
                                <span class="gauge-value pull-left">%</span>
                                <span id="goal-text" class="goal-value pull-right">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Actvités récentes</h2>
                    <div class="nav navbar-right panel_toolbox">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">

                        <ul class="list-unstyled timeline widget">
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Jane Smith</a>
                                        </div>
                                        <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Jane Smith</a>
                                        </div>
                                        <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Jane Smith</a>
                                        </div>
                                        <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Jane Smith</a>
                                        </div>
                                        <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="row">
                <!-- Start construction materials -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Commandes</h2>
                            <div class="nav navbar-right panel_toolbox">
                                <!-- Large modal -->
                                <a href="{{ path('product_list_project', {'id': project.id} ) }}" class="btn btn-default">Liste</a>
                                {#
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-materials-of-construction">Ajouter</button>
                                 #}
                                <a href="{{ path('purchaseorder_new') }}" class="btn btn-primary">Nouvelle commande</a>
                                <div class="modal fade add-materials-of-construction" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">Ajouter une commande</h4>
                                            </div>
                                            {{ form_start(purchaseOrderForm, {'attr': {'class': 'form-horizontal form-label-left', 'data-parsley-validate':'', 'action': path('product_new', {'project': project.id}) }}) }}
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(purchaseOrderForm.status, {'attr': {'class': 'radio text-center'}} ) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Réference <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        {{ form_widget(purchaseOrderForm.reference, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Chantier <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        {{ form_widget(purchaseOrderForm.project, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'readonly':''}} ) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Acheteur
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        {{ form_widget(purchaseOrderForm.buyer, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Fournisseur <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        {{ form_widget(purchaseOrderForm.supplier, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Date de livraison
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        {{ form_widget(purchaseOrderForm.deliverydate, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Emplacement
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        {{ form_widget(purchaseOrderForm.location, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Devise
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        {{ form_widget(purchaseOrderForm.currency, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                                                    </div>
                                                </div>

                                                {{ form_rest(purchaseOrderForm._token) }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Réference</th>
                                        <th>Fournisseur</th>
                                        <th>Acheteur</th>
                                        <th>Montant TTC</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{ order.reference }}</td>
                                        <td>{{ order.supplier}}</td>
                                        <td>{{ order.buyer }}</td>
                                        <td>{{ order.getTotalTtc }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End to construction materials -->

                <!-- start of personal widget -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ressources humaines assignés</h2>
                            <div class="nav navbar-right panel_toolbox">
                                <a href="{{ path('equipment_index') }}" class="btn btn-default">Liste</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-materials">Ajouter</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="">
                                <table class="table-bordered table">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Jour de travail</th>
                                            <th>Frais jouranlier</th>
                                        </tr>
                                    </thead>
                                    {% for personal in personals %}
                                        <tr>
                                            <td>{{ personal.personal.firstname }} {{ personal.personal.lastname }}</td>
                                            <td>{{ personal.date | date('d/m/Y') }}</td>
                                            <td>{{ personal.personal.dailyRate }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of personal widget -->
            </div>
        </div>
    </div>
    <!-- /page content -->
{%endblock%}

{% block javascripts %}
    {{ parent() }}
    <!-- iCheck -->
    <script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>
{% endblock %}
