{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Switchery -->
    <link href="{{ asset('vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('equipment_index') }}" class="btn btn-success left"><i class="fa fa-chevron-circle-left"></i>
            Retour</a>

        <div class="clearfix"></div>
        <div class="separator"></div>
        <div class="row">
            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal form-label-left', 'data-parsley-validate':''}}) }}
            <div class="col-md-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Info. Type</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Désignation <span
                                        class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Famille
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.family, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Sous famille
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.subFamily, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Marque
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.brand, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Modéle
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.model, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Info. général</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Matricule
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.registrationNumber, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de mise en circulation
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.dateOfCirculation, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre de sièges
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.numberOfPlaces, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Cylindre
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.bodywork, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Carburant
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.energy, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Puissance fiscale
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.fiscalPower, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                {{ form_widget(edit_form.greyCarte, {'attr': {'class': 'js-switch'}} ) }} Carte grise
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Statut
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(edit_form.status, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a href="{{ path('equipment_index') }}" class="btn btn-default"
                                   type="button">Annuler</a>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- jquery.inputmask -->
    <script src="{{ asset('vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')}}"></script>
    <!-- Switchery -->
    <script src="{{ asset('vendors/switchery/dist/switchery.min.js') }}"></script>

    <!-- validator -->
    <script src="{{ asset('vendors/vendors/validator/validator.js')}}"></script>

{% endblock %}
