{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipement</h1>

    <div class="">
        <div class="actionBar">
            <a href="{{ path('equipment_new') }}" class="btn btn-primary">Ajouter</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Equipements</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Famille</th>
                                <th>Sous famille</th>
                                <th>Designation</th>
                                <th>Energy</th>
                                <th>Fiscalpower</th>
                                <th>Status</th>
                                <th>Carte grise</th>
                                <th>Marque</th>
                                <th>Modèle</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for equipment in equipments %}
                                <tr>
                                    <td><a href="{{ path('equipment_show', { 'id': equipment.id }) }}">{{ equipment.name }}</a></td>
                                    <td>{{ equipment.name }}</td>
                                    <td>{{ equipment.family }}</td>
                                    <td>{{ equipment.subFamily }}</td>
                                    <td>{{ equipment.registrationNumber }}</td>
                                    <td>{{ equipment.energy }}</td>
                                    <td>{{ equipment.fiscalPower }}</td>
                                    <td>{{ equipment.status }}</td>
                                    <td>{% if equipment.greyCarte %}Yes{% else %}No{% endif %}</td>
                                    <td>{{ equipment.brand }}</td>
                                    <td>{{ equipment.model }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{{ path('equipment_show', { 'id': equipment.id }) }}" class="btn btn-sm btn-success" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Forward"><i class="fa fa-eye"></i></a>
                                            <a href="{{ path('equipment_edit', { 'id': equipment.id }) }}" class="btn btn-sm btn-warning" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print"><i class="fa fa-edit"></i></a>
                                            <a href="{{ path('equipment_delete', { 'id': equipment.id }) }}" class="btn btn-sm btn-danger" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
