{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipment.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ equipment.name }}</td>
            </tr>
            <tr>
                <th>Family</th>
                <td>{{ equipment.family }}</td>
            </tr>
            <tr>
                <th>Subfamily</th>
                <td>{{ equipment.subFamily }}</td>
            </tr>
            <tr>
                <th>Registrationnumber</th>
                <td>{{ equipment.registrationNumber }}</td>
            </tr>
            <tr>
                <th>Dateofcirculation</th>
                <td>{{ equipment.dateOfCirculation }}</td>
            </tr>
            <tr>
                <th>Numberofplaces</th>
                <td>{{ equipment.numberOfPlaces }}</td>
            </tr>
            <tr>
                <th>Bodywork</th>
                <td>{{ equipment.bodywork }}</td>
            </tr>
            <tr>
                <th>Energy</th>
                <td>{{ equipment.energy }}</td>
            </tr>
            <tr>
                <th>Fiscalpower</th>
                <td>{{ equipment.fiscalPower }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ equipment.status }}</td>
            </tr>
            <tr>
                <th>Greycarte</th>
                <td>{% if equipment.greyCarte %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ equipment.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ equipment.model }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipment_edit', { 'id': equipment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
