{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <a href="{{ path('equipment_index') }}" class="btn btn-success left"><i class="fa fa-chevron-circle-left"></i>
            Retour</a>

        <div class="clearfix"></div>
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Equipement "{{ equipment.name }}"</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ equipment.id }}</td>
                            </tr>
                            <tr>
                                <th>Désignation</th>
                                <td>{{ equipment.name }}</td>
                            </tr>
                            <tr>
                                <th>Marque</th>
                                <td>{{ equipment.brand }}</td>
                            </tr>
                            <tr>
                                <th>Modèle</th>
                                <td>{{ equipment.model }}</td>
                            </tr>
                            <tr>
                                <th>Famille équipment</th>
                                <td>{{ equipment.family }}</td>
                            </tr>
                            <tr>
                                <th>Sous famille équiepement</th>
                                <td>{{ equipment.subFamily }}</td>
                            </tr>
                            <tr>
                                <th>Matricule</th>
                                <td>{{ equipment.registrationNumber }}</td>
                            </tr>
                            <tr>
                                <th>Date de mise en circulation</th>
                                <td>{{ equipment.dateOfCirculation | date('d/m/Y')}}</td>
                            </tr>
                            <tr>
                                <th>Nombre des siéges</th>
                                <td>{{ equipment.numberOfPlaces }}</td>
                            </tr>
                            <tr>
                                <th>Cylindre</th>
                                <td>{{ equipment.bodywork }}</td>
                            </tr>
                            <tr>
                                <th>Energie</th>
                                <td>{{ equipment.energy }}</td>
                            </tr>
                            <tr>
                                <th>Puissance fiscale</th>
                                <td>{{ equipment.fiscalPower }}</td>
                            </tr>
                            <tr>
                                <th>Etat</th>
                                <td>{{ equipment.status }}</td>
                            </tr>
                            <tr>
                                <th>Carte grise</th>
                                <td>{% if equipment.greyCarte %}Yes{% else %}No{% endif %}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
