{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <div class="actionBar">
            <a href="{{ path('clocking_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i>
                Ajouter</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Pointage</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for clocking in clockings %}
                                <tr>
                                    <td>{% if clocking.date %}<a href="{{ path('clocking_show', { 'id': clocking.id }) }}">{{ clocking.date|date('Y-m-d') }}</a>{% endif %}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{{ path('clocking_show', { 'id': clocking.id}) }}" class="btn btn-sm btn-success" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Afficher"><i class="fa fa-eye"></i></a>
                                            <a href="{{ path('clocking_edit', { 'id': clocking.id }) }}" class="btn btn-sm btn-warning" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
