{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <a href="{{ path('bank_index') }}" class="btn btn-success left"><i class="fa fa-chevron-circle-left"></i> Retour</a>

        <div class="clearfix"></div>
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Consultation banque "{{ supplier.name }}"</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ supplier.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ supplier.name }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ supplier.type }}</td>
                            </tr>
                            <tr>
                                <th>Catégorie</th>
                                <td>{{ supplier.category }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ supplier.address }}</td>
                            </tr>
                            <tr>
                                <th>Ville</th>
                                <td>{{ supplier.city }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>{{ supplier.phone }}</td>
                            </tr>
                            <tr>
                                <th>Fax</th>
                                <td>{{ supplier.fax }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ supplier.mail }}</td>
                            </tr>
                            <tr>
                                <th>Nom contact</th>
                                <td>{{ supplier.contactName }}</td>
                            </tr>
                            <tr>
                                <th>N° SIRET</th>
                                <td>{{ supplier.siretNumber }}</td>
                            </tr>
                            <tr>
                                <th>N° TVA</th>
                                <td>{{ supplier.tvaNumber }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <a href="{{ path('supplier_edit', { 'id': supplier.id }) }}" class="btn btn-primary">Edit</a>

                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-danger">
                        {{ form_end(delete_form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
